<div id="grid-content">


	<div class="cat">
		<a href="#" class="delete"><%= image_tag 'close_button_black_w30.png' %></a>
		<a href="#" class="goods-menu" data="maru01"><%= image_tag @cat.img_name %></a>
	</div>
	<div class="cat">
		<a href="#" class="delete"><%= image_tag 'close_button_black_w30.png' %></a>
		<a href="#" class="goods-menu" data="maru02"><%= image_tag 'maru02.png' %></a>
	</div>
	<div class="cat" data="maru03">
		<a href="#" class="delete"><%= image_tag 'close_button_black_w30.png' %></a>
		<a href="#" class="goods-menu" data="maru03"><%= image_tag 'maru03.png' %></a>
	</div>

</div>